.game-container {

}
.game-viewport {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: top;
}
.game-info {
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
  padding-top: 20px;
}

.game-info h4 {
  margin-bottom: 0;
}
.game-info ol {
  padding-left: 18px;
}

.game-info ol li:first-child{font-size: 1.1em}

.game-row {
  display: flex;
}
.game-cell {
  width: 4.7vw;
  height: 4.7vw;
  max-height: 83px;
  max-width: 83px;
  background-size: contain!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
}
.game-over {
  background: white;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.game-over img {
  margin: 0;
  display: block;
}

button.game-over-button {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

